
* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
}

.heading {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #222;
  font-weight: 600;
}



